<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a routerLink="" class="navbar-brand">Lets App</a>
        </div>

        <ul class="navbar-nav">
            <li><a routerLink="" class="nav-link">Home</a></li>
            <li><a routerLink="/list-claims" class="nav-link">Claims</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/login" class="nav-link">Login</a></li>
            <li><a routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>





</header>
<br> <br>
<!-- <h1>
  {{title}}
  <div>{{message}}</div>
</h1>
<app-welcome> </app-welcome> -->

<!-- <app-login></app-login> -->

<router-outlet></router-outlet>
<footer>
    <br>
    <br> &#9400; CopyRight 2020 Sachee LetsApp Pvt Ltd India. All rights reserved.
</footer>